.container {
  width: 400px;
  margin: auto;
  text-align: center;
  background-color: antiquewhite;
  padding: 50px 30px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 15px;
  border: 1px solid transparent;
  background-color: chartreuse;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#result {
  background-color: deepskyblue;
  padding: 10px;
  display: none;
}

table {
  margin-left: 50px;
}
